@import url(reset-normalize.css);
@import url(debug.css);

/* Measurement
http://www.modularscale.com/?1.3&&1.333
-------------------------------------------------------------------------------*/

/* Dev
---------------------------*/
header, li {
  display: none;
}


/* Framing & variables
---------------------------*/
@viewport {
  width: auto;
}

* {
  box-sizing: border-box;
  --blacky: #181e24; /* Black */
  --dani: #645e23; /* Yellowish */

  --faint-white: rgba(255, 255, 255, 0.1);
  --faint-black: rgba(0, 0, 0, 0.1);
  --translucent-black: rgba(0, 0, 0, 0.4);
  --text: #444; /* Dark gray */
  --background: #f5f1e5; /* Off white: #f5f1e5 */
}


/* Type basics
---------------------------*/
:root {
  font-size: .975rem;
}

body {
  font-family: "Benton Mod RE Reg", Verdana, sans-serif;
  line-height: 1.45;

  font-kerning: normal;
	font-variant-ligatures: common-ligatures contextual;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
	font-feature-settings: "kern", "liga", "clig", "calt";

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

header {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

h2 {
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.313;
  padding: 1.313rem 0;
  margin: 1.313rem 0;
  border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
}
h2 span {
  display: block;
  font-size: 1.313rem;
}

p + p {
  text-indent: 2.369rem;
}
.q {
  text-indent: -0.6rem;
}
p + .q {
  text-indent: 1.769rem;
}

em,
i,
blockquote {
  font-family: "Benton Mod RE It", Verdana, sans-serif;
  font-style: italic;
}
blockquote em {
	font-style: normal;
}
blockquote {
  margin: 1em 0 1em 2.369em;
}



/* Layout
---------------------------*/
@media screen {

  .content {
    padding: 0.1em 1em;
  }

  .illo {
    text-align: center;
  }
  .illo figcaption {
    font-family: "mallory-microplus";
    font-size: .975rem;
    font-weight: 500;
    xletter-spacing: 0.05em;
  }
  .illo img {
    width: 100%;
  }

  footer {
    padding-bottom: 9.969em;
  }

}

@media screen and (min-width: 60em) {

  body {
    font-size: 1.333rem;

    margin: 0;
    padding: 0 0.75em;
    border-width: 0.178em;
    border-style: solid;
  }

  .content {
    position: relative;
    xmax-width: 55.927em;
    margin: 0 auto;
    border-radius: 0.232em;
    padding: 1.333em 3.157em 5.61em;
    outline: 0.178em pink solid;
  }

  .chapter-set {
    margin-right: 0;
    margin-left: auto;
    width: 56%;
    xmax-width: 30em;
  }

  .illo {
    position: -webkit-sticky;
    position: sticky;
    top: 1em; left: 0;
    float: left;
    margin-left: -80%;
    width: 76%;
    margin-bottom: 1em;
    padding: 2%;
    background-color: #fff; /* var(--background);*/
    border-radius: .5em;
  }

}


/* Header
------------------------------*/

@media screen {

  header {
    margin: 1.777em 0;
    text-align: center;
  }

  h1 {
    font-size: 2.369em;
  }

  .credits {
    text-transform: uppercase;
    letter-spacing: .02em;
  }

}

@media screen and (min-width: 36em) {

  h1 {
    font-family: "benton-modern-display-conden", serif;
    font-size: 7.478em;
    line-height: 1;
  }

}


/*
li {
	font-kerning: normal;
	font-variant-ligatures: common-ligatures, contextual;
	font-variant-numeric: lining-nums, tabular-nums;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
	font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
}

*/

/* Links
------------------------------*/
a {
  color: #222;
  text-decoration: underline;
  text-decoration-color: var(--translucent-black);
  -webkit-text-decoration-color: var(--translucent-black);
}


/* Color
---------------------------*/
html {
  border-color: var(--faint-white);
}
body {
  background: url(clothTrans15.png) #60503e;
  border-color: var(--faint-white);
}
body.dani-meadow-mouse {
  background-color: var(--dani);
}
header {
  color: var(--translucent-black);
  text-shadow: 0 -0.178em 0 var(--faint-black);
}
header h1 {
  color: white;
}
.content {
  background-color: var(--background);
  outline-color: var(--faint-black);
}

/*
body.blacky { background-color: var(--black); }
body.old-mr-toad { background-color: #666600; }
body.johnny-chuck { background-color: #471F2F; }
body.reddy-fox { background-color: #965c1d; }
body.becky-bear { background-color: #233c63; } */
