@import url(reset-normalize.css);

/* Measurement
http://www.modularscale.com/?1.3&&1.333
-------------------------------------------------------------------------------*/

/* Dev
---------------------------*/
header, li {
  display: none;
}


/* Framing & variables
---------------------------*/
@viewport {
  width: auto;
}

* {
  box-sizing: border-box;
  --blacky: #181e24; /* Black */
  --dani: #645e23; /* Yellowish */

  --faint-white: rgba(255, 255, 255, 0.1);
  --faint-black: rgba(0, 0, 0, 0.1);
  --translucent-black: rgba(255, 255, 255, 0.8);
  --text: #444; /* Dark gray */
  --background: #f5f1e5; /* Off white */
}


/* Type basics
---------------------------*/
:root {
  font-size: 100%;
}

body {
  font-family: "Benton Mod RE Reg", Verdana, sans-serif;

  font-size: 0.9rem;
  line-height: 1.45;

  font-kerning: normal;
	font-variant-ligatures: common-ligatures contextual;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
	font-feature-settings: "kern", "liga", "clig", "calt";

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

header {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

p + p {
  text-indent: 2.369em;
}

em,
i,
blockquote {
  font-family: "Benton Mod RE It", Verdana, sans-serif;
  font-style: italic;
}
blockquote em {
	font-style: normal;
}
blockquote {
  margin: 1em 0 1em 2.369em;
}



/* Layout
---------------------------*/
@media screen {

  .content {
    padding: 0.1em 1em;
  }
  
  .illo img {
    width: 100%;
  }
  
  footer {
    padding-bottom: 9.969em;
  }

}

@media screen and (min-width: 36em) {

  body {
    font-size: 1.05rem;

    margin: 0;
    padding: 0 0.75em;
    border-width: 0.178em;
    border-style: solid;
  }

  .content {
    border-radius: 0.232em;
    padding: 1.333em 3.157em 5.61em;
    outline: 0.178em pink solid;
  }


/* Illustration positioning */

  .content {
    position: relative;
  }
  
  .chapter {
    margin-left: 43%;
  }
  
  .illo {
    position: -webkit-sticky;
    position: sticky;
    top: 1em; left: 0;
    width: 40%;
    background-color: var(--background);
    float: left;
  }

}


/* Header
------------------------------*/

@media screen {  

  header {
    margin: 1.777em 0;
    text-align: center;
  }
  
  h1 {
    font-size: 2.369em;
  }
  
  .credits {
    text-transform: uppercase;
    letter-spacing: .02em;
  }

}

@media screen and (min-width: 36em) {

  h1 {
    font-family: "benton-modern-display-conden", serif;
    font-size: 7.478em;
    line-height: 1;
  }
  
}
  

/*h2 {
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.313;
  padding: 1.313rem 0;
  margin: 1.313rem 0;
  border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
}
h2 span {
  display: block;
  font-size: 1.313rem;
}
li {
	font-kerning: normal;
	font-variant-ligatures: common-ligatures, contextual;
	font-variant-numeric: lining-nums, tabular-nums;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
	font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
}

.q {
  text-indent: -0.554rem;
}
p + .q {
  text-indent: 1.7779999999999998rem;
}
*/

/* Links
------------------------------
a {
  color: #222;
  text-decoration: none;
  background-image: linear-gradient(to top,
    rgba(0,0,0,0) 5%,
    rgba(0,0,0,.3) 5%,
    rgba(0,0,0,.3) 10%,
    rgba(0,0,0,0) 10%
    );
  text-shadow:
    2px 0 0 #f5f1e5,
    -2px 0 0 #f5f1e5;
}*/


/* Color
---------------------------*/
html {
  border-color: var(--faint-white);
}
body {
  background: url(clothTrans15.png) #60503e;
  border-color: var(--faint-white);
}
body.dani-meadow-mouse {
  background-color: var(--dani);
}
header {
  color: var(--translucent-black);
  text-shadow: 0 -0.178em 0 var(--faint-black);
}
header h1 {
  color: white;
}
.content {
  background-color: var(--background);
  outline-color: var(--faint-black);
}

/*
body.blacky { background-color: var(--black); }
body.old-mr-toad { background-color: #666600; }
body.johnny-chuck { background-color: #471F2F; }
body.reddy-fox { background-color: #965c1d; }
body.becky-bear { background-color: #233c63; } */

