@import url(reset-normalize.css);

/* Measurement
  http://modularscale.com/scale/?ra1=1.333&px1=21
	21px @ 1:1.333
	1024px @ 1:1.333
-------------------------------------------------------------------------------*/

/* Variables
---------------------------*/

/* Type basics
---------------------------*/
body {
  font: 100% "Benton Modern RE", Verdana, sans-serif;
  font-kerning: normal;
	font-variant-ligatures: common-ligatures, contextual;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
	-ms-font-feature-settings: "kern", "liga", "clig", "alt";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
	font-feature-settings: "kern", "liga", "clig", "calt";
}
h2 {
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.313;
  padding: 1.313rem 0;
  margin: 1.313rem 0;
  border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
}
h2 span {
  display: block;
  font-size: 1.313rem;
}
p {
  margin: 0;
  font-size: 0.985rem;
  line-height: 1.45;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
li {
	font-kerning: normal;
	font-variant-ligatures: common-ligatures, contextual;
	font-variant-numeric: lining-nums, tabular-nums;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
	-ms-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
	font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
}
p + p {
  text-indent: 2.332rem;
}
.q {
  text-indent: -0.554rem;
}
p + .q {
  text-indent: 1.7779999999999998rem;
}
i,
blockquote {
  font-style: italic;
}
blockquote em {
	font-style: normal;
}
blockquote {
  margin: 0.985rem 0 0.985rem 2.332rem;
}

/* Links
------------------------------*/
a {
  color: #222;
  text-decoration: none;
  background-image: linear-gradient(to top,
    rgba(0,0,0,0) 5%,
    rgba(0,0,0,.3) 5%,
    rgba(0,0,0,.3) 10%,
    rgba(0,0,0,0) 10%
    );
  text-shadow:
    2px 0 0 #f5f1e5,
    -2px 0 0 #f5f1e5;
}

/* Header
------------------------------*/
header {
  margin: 1.75rem 0;
  text-align: center;
}
.name {
  text-transform: uppercase;
  letter-spacing: .02em;
}
footer {
  clear: both;
  padding-bottom: 10em;
}

/* Characters
------------------------------*/
.characters {
  display: none;
}

/* Layout
---------------------------*/
@media screen {
  .article {
    padding: 0.1em 1em;
  }
}
@media screen and (min-width: 36em) {
  html {
    border-width: 0.132rem;
    border-style: solid;
  }
  body {
    margin: 0 0.985rem;
  }
  .wrap {
    border-right-width: 0.554rem;
    border-left-width: 0.554rem;
    border-style: solid;
    border-radius: 0.1em;
  }
  .header h1 {
    width: 100%;
    /*font-family: BentonModernDispCondLight, serif;*/
    font-family: "benton-modern-display-conden", serif;
    font-size: 8.558rem;
    line-height: 1;
  }
  .article {
    border-radius: 0.1em;
    padding: 1.313em 3.613rem 6em;
  }
  p {
    font-size: 1.313rem;
  }
}
/*article {
	position: relative;
	float: right;
	width: 36.018rem;
	margin-right: 3.109rem;
	}*/

/* Color
---------------------------*/
html {
  border-color: rgba(255, 255, 255, 0.1);
}
body {
  background: url(clothTrans15.png) #60503e; /* #505a2c;*/
  color: #444;
  /*#312C22;*/
}
body.blacky { background-color: #181e24; } /* black */
body.old-mr-toad { background-color: #666600; } /* green */
body.johnny-chuck { background-color: #471F2F; } /* maroon */
body.reddy-fox { background-color: #965c1d; } /* orange */
body.becky-bear { background-color: #233c63; } /* blue */
body.dani-meadow-mouse { background-color: #645e23; } /* yellow */
.wrap {
  border-color: rgba(0, 0, 0, 0.1);
}
.header {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 -3px 0 rgba(0,0,0,0.2);
}
.header h1 {
  color: #fff;
}
.article {
  background-color: #f5f1e5;
}
