{% include "header.html" %}

<body class="{{ slug }}">
	<a href="/">Home test</a>

<header>
	<p><i>The Famous Bedtime Story Books</i></p>
	<p>by <b class="credits">Thornton W. Burgess</b><br />
  	<i>revised by</i> <b class="credits">Tim Brown</b> <i>&</i> <b class="credits">daughters</b><br />
  	<i>illustrated by</i> <b class="credits">Chris Silverman</b><br />

	</p>
	<h1>
      <em>The Adventures of</em> 
      <span>{{ title }}</span>
   </h1>
	<p>{{page.date|date: "%Y" }} &bull; 2024</p>
</header>

<div class="wrap">
<main>
  {{content}}
</main>

<!--<div class="content" id="content">
</div>-->
  
<footer>
</footer>
</div>

<!-- Scripts -->
<script src="/scripts/main.js"></script>

<script type="text/javascript">
// <!--
    function toggle_class(id) {
       var e = document.getElementById(id);
       if(e.className == 'hidden')
          e.className = 'shown';
       else
          e.className = 'hidden';
    }
//-->
</script>
</body>
</html>
