{% include "header.html" %}

<body class="{{ slug }}">

<header>
   <section class="site-stuff">
      <p><a href="/"><i>The Adventures of&hellip;</i></a></p>
   </section>
   <div class="story-stuff-wrap">
   <section id="story-stuff">
      <h1>
         <em>The Adventures of</em> 
         <a href="/{{ slug }}">{{ title }}</a>
      </h1>
      <p>{{page.date|date: "%Y" }} &bull; 2024</p>
   
      <p id="chapternav" onclick="toggle_class('nav');">Chapters</p>
      <!--<p onclick="story_header('story-stuff');">Storystuff</p>-->
   </section>
   </div>
</header>

<div class="wrap">
<main>
  {{content}}
</main>

<!--<div class="content" id="content">
</div>-->
  
<footer>
</footer>
</div>

<!-- Scripts -->
<script src="/scripts/main.js"></script>

<script type="text/javascript">
// <!--
    function toggle_class(id) {
       var e = document.getElementById(id);
       if(e.className == 'hidden')
          e.className = 'shown';
       else
          e.className = 'hidden';
    }
    function story_header(id) {
       var e = document.getElementById(id);
       if(e.className == 'small')
          e.className = 'large';
       else
          e.className = 'small';
    }
    window.addEventListener('scroll', () => {
    const storyHeader = document.getElementById('story-stuff');
      if (window.scrollY > 600) {
        storyHeader.classList.add('small');
    } else {
        storyHeader.classList.remove('small');
    }
});
//-->
</script>
</body>
</html>
