<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
	<link href="//cloud.webtype.com/css/4b7af89b-ff46-4c07-b398-461a3aa38082.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="{{site.baseurl}}/css/icon.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.baseurl}}/css/icon.png">
</head>

<body class="{{page.slug}}">
<div class="header">
	<header>
		<p><i>The Famous Bedtime Story Books</i></p>
		<h1>{{page.title}}</h1>
		<p>by <b class="name">Thornton W. Burgess</b><br />
		{{page.date|date: "%Y" }}</p>
<!--	<p>with Illustrations by Harrison Cady</p>
	<p>Boston &#8212; Little, Brown, and Company &#8212; 1920</p>-->


<!--		<h1><a href="/">Page Title</a></h1>

		<nav>

			<ol>
				<li><a href="">Nav Link 1</a></li>
				<li><a href="">Nav Link 2</a></li>
				<li><a href="">Nav Link 3</a></li>
			</ol>

		</nav>

		The Project Gutenberg eBook, The Adventures of Grandfather Frog, by
Thornton W. Burgess, Illustrated by Harrison Cady


This eBook is for the use of anyone anywhere at no cost and with
almost no restrictions whatsoever.  You may copy it, give it away or
re-use it under the terms of the Project Gutenberg License included
with this eBook or online at www.gutenberg.net





Title: The Adventures of Grandfather Frog

Author: Thornton W. Burgess

Release Date: December 17, 2004  [eBook #14375]

Language: English

Character set encoding: ISO-646-US (US-ASCII)


***START OF THE PROJECT GUTENBERG EBOOK THE ADVENTURES OF GRANDFATHER
FROG***


E-text prepared by Juliet Sutherland, Josephine Paolucci, Joshua
Hutchinson, and the Project Gutenberg Online Distributed Proofreading Team



Note: Project Gutenberg also has an HTML version of this
      file which includes the original illustrations.
      See 14375-h.htm or 14375-h.zip:
      (http://www.gutenberg.net/dirs/1/4/3/7/14375/14375-h/14375-h.htm)
      or
      (http://www.gutenberg.net/dirs/1/4/3/7/14375/14375-h.zip)





The Bedtime Story-Books

THE ADVENTURES OF GRANDFATHER FROG

by

THORNTON W. BURGESS

Author of _The Adventures of Reddy Fox_, _Old Mother West Wind_, etc.

With Illustrations by HARRISON CADY

Boston
Little, Brown, and Company

1920







[Illustration: "Have a nice nap?" inquired Jerry, with a broad grin.
(Frontispiece)]





CONTENTS


CHAPTER

    I. BILLY MINK FINDS LITTLE JOE OTTER

   II. LONGLEGS THE BLUE HERON RECEIVES CALLERS

  III. LONGLEGS VISITS THE SMILING POOL

   IV. THE PATIENCE OF LONGLEGS THE BLUE HERON

    V. GRANDFATHER FROG JUMPS JUST IN TIME

   VI. LONGLEGS AND WHITETAIL QUARREL

  VII. GRANDFATHER FROG&#8217;S BIG MOUTH GETS HIM IN TROUBLE

 VIII. SPOTTY THE TURTLE PLAYS DOCTOR

   IX. OLD MR. TOAD VISITS GRANDFATHER FROG

    X. GRANDFATHER FROG STARTS OUT TO SEE THE GREAT WORLD

   XI. GRANDFATHER FROG IS STUBBORN

  XII. GRANDFATHER FROG KEEPS ON

 XIII. DANNY MEADOW MOUSE FEELS RESPONSIBLE

  XIV. GRANDFATHER FROG HAS A STRANGE RIDE

   XV. GRANDFATHER FROG GIVES UP HOPE

  XVI. THE MERRY LITTLE BREEZES WORK HARD

 XVII. STRIPED CHIPMUNK CUTS THE STRING

XVIII. GRANDFATHER FROG HURRIES AWAY

  XIX. GRANDFATHER FROG JUMPS INTO MORE TROUBLE

   XX. GRANDFATHER FROG LOSES HEART

  XXI. THE MERRY LITTLE BREEZES TRY TO COMFORT GRANDFATHER FROG

 XXII. GRANDFATHER FROG&#8217;S TROUBLES GROW

XXIII. THE DEAR OLD SMILING POOL ONCE MORE




LIST OF ILLUSTRATIONS


"HAVE A NICE NAP?" INQUIRED JERRY, WITH A BROAD GRIN

"THANK YOU," SAID LONGLEGS. "I BELIEVE I HAVE AN ERRAND UP THAT WAY"

AS SOON AS THEY SAW GRANDFATHER FROG, THEY BEGAN TO LAUGH, TOO

"YOU WON&#8217;T SEE MUCH OF THE GREAT WORLD IF YOU JUMP LIKE THAT EVERY
TIME YOU GET A SCARE," SAID DANNY

HE SEIZED THE OTHER END OF THE STRING AND BEGAN TO PULL

"THAT&#8217;S JUST WHAT I&#8217;M AFRAID OF!" CROAKED GRANDFATHER FROG-->

	</header>
	</div>

<div class="wrap">

	<div class="article">
	<article>

		{{content}}

	</article>
	</div>
</div>

<!--	<aside>

		<h2>Sidebar Content</h2>

	</aside>-->

	<footer>

	</footer>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/jquery.fittext.js"></script>
<script src="{{site.baseurl}}/js/moltenleading.src.js"></script>
<script>
	$("h1").fitText(0.7);
	//$("h1").fitText(0.7, { minFontSize: '100px', maxFontSize: '130px' });
	$("p").moltenLeading({
		minline: 1.27,
		maxline: 1.4,
		minwidth: 248,
		maxwidth: 587
	});
</script>

<script>
  (function(d) {
    var config = {
      kitId: 'ycy5dmz',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

</body>
</html>
