<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="debug">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
	<link rel="stylesheet" href="https://use.typekit.net/ycy5dmz.css">
	<link href="//cloud.typenetwork.com/projects/1261/fontface.css/" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/png" href="{{site.baseurl}}/css/icon.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.baseurl}}/css/icon.png">
</head>
<body class="{{page.slug}}">
<a class="a11y" href="#content">Skip to main content</a>

<header>
	<p><i>The Famous Bedtime Story Books</i></p>
	<h1>{{page.title}}</h1>
	<p>by <b class="credits">Thornton W. Burgess</b><br />
  	<i>revised by</i> <b class="credits">Tim Brown</b><br />
  	<i>illustrated by</i> <b class="credits">Chris Silverman</b><br />
  	{{page.date|date: "%Y" }} &bull; 2017
	</p>
</header>

<div class="content" id="content">
  	{{content}}
</div>

<footer>
</footer>
</body>
</html>
